[submodule "CSAL"]
	path = CSAL
	url = git@github.com:AuroraRennes/CSAL.git
[submodule "coresight-decoder"]
	path = coresight-decoder
	url = https://github.com/RICSecLab/coresight-decoder.git
[submodule "udmabuf"]
	path = udmabuf
	url = https://github.com/ikwzm/udmabuf.git
